<html>

<head>
    <title>Canvas tutorial</title>
    <style type="text/css">
        canvas {
            border: 1px solid black;
        }
    </style>
</head>

<body>
    <img src="../../newVX/imgs/1.png" alt="">
    <canvas id="tutorial" width="300" height="300"></canvas>
</body>
<script type="text/javascript">
    function draw() {
        var canvas = document.getElementById('tutorial');
        if (!canvas.getContext) return;
        var ctx = canvas.getContext("2d");
        console.log(ctx.fillStyle);
        ctx.fillStyle = "red";
        ctx.save();      //此时原点（0,0） 不旋转
        console.log(ctx.fillStyle);
        console.log(ctx.fillStyle + ',' + '(' + ctx.shadowOffsetX + ',' + ctx.shadowOffsetY + ')' + ctx.shadowBlur );

        ctx.translate(100, 100);
        ctx.rotate(Math.PI / 180 * 45);
        ctx.fillStyle = "blue";
        ctx.fillRect(0, 0, 100, 100);
        ctx.save()       //此时原点（100,100） 旋转 45
        console.log(ctx.fillStyle);
        ctx.restore();   //此时原点（100,100） 旋转 45
        console.log(ctx.fillStyle);

        //ctx.save();
        ctx.translate(0, 0);  //此时原点（0,0） 旋转45
        ctx.fillRect(0, 0, 300, 300);
        ctx.restore();   //此时原点（0,0） 不旋转
        console.log(ctx.fillStyle);
        ctx.fillRect(100, 0, 20, 20);


    }
    draw();
</script>

</html>