<!DOCTYPE html>

<html>

<head>

	<title></title>

	<script type="text/javascript">

		Promise.resolve('foo').then(function (string) {
			return new Promise(function (resolve, reject) {
				setTimeout(function () {
					string += 'bar';
					resolve(string);
				}, 1);
			});
		}).then(function (string) {
			setTimeout(function () {
				string += 'baz';
				console.log(string);
			}, 1)
			return string;
		}).then(function (string) {
			console.log("Last Then:  oops... didn't bother to instantiate and return " +
				"a promise in the prior then so the sequence may be a bit " +
				"surprising");
			console.log(string);
		});

	</script>

</head>

<body>



</body>

</html>